*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color:aliceblue;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
/*part1*/
header{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    
}
/**icon**/
.imag1{
    margin-left:60px;
}
/**nav bar**/
a{
    margin-left: 45px;
    color: black;
    text-decoration: none;
    padding: 4px 7px;

}
/**hover**/
a:hover{
    color:white;
    background-color:hsl(180, 66%, 49%);
    border-radius: 13px;
    padding: 4px 10px;
    }

#log{
    margin-left: 500px;
    padding:20px;
}

/*part 2*/
.one{
height: 550px;
background-color: white;
display: flex;
}

/**content**/
.one1{
    display:flex;
    flex-direction: column;
    position: relative;
    top:70px;
    left:60px;
}
h1{
    padding: 10px;
    font-size:70px;
    font-weight: 800;
}
.I{
    padding: 10px;
    font-size:25px;
}
.one2{
    position: relative;
    left:160px;

}
/**buttons**/
button{
    width:150px;
    margin:20px 0px 0px 80px;
    border-radius: 20px;
    padding:10px 20px 10px 20px;
    color:white;
    background-color: hsl(180, 66%, 49%);
    border:none;
}

/**box 1 parent of search box part3**/
.box1{
    height: 100px;
    width:800px;
    background-image:url(images/bg-shorten-desktop.svg) ;
    background-color: hsl(255, 11%, 22%);
    position: absolute;
    left:350px;
    top:530px;
    border-radius: 18px;
    padding: 40px;
    display: flex;
    justify-content: center;
    
}

/**search box**/
.box2{
    height: 40px;
    width:500px;
    background-color:white;
}

/**search box button**/
#btn{
    border-radius: 4px;
    height: 30px;
    margin:0px 0px 0px 30px;
    padding:20px 40px;

}

/**part4**/
.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:150px;
}
h2{
    padding:10px;
}

/*part 5*/
.part5{
    margin:250px 40px 0px 40px;
    padding: 40px;
    display:flex;
    justify-content: space-evenly;
    position: relative;
}

.t{
    height: 230px;
    width:330px;
    background-color:white;
    border-radius: 8px;
    margin:10px;
    padding: 15px;
}
.logos{
    background-color: blue;
    clip-path: circle(50%);
    position:relative;
    bottom:40px;
    left:30px;
    object-fit: fill;
    
}
h3{
    padding: 10px;
}

.brand2{
    margin-top:60px;
}
.brand3{
    margin-top: 120px;
}
p{
    line-height: 25px;
}

/**part6**/
.end{
    background-image: url(images/bg-boost-desktop.svg);
    height: 200px;
    background-repeat: no-repeat;
    background-color: hsl(255, 11%, 22%);
}
h6{
    font-size:40px;
    display: flex;
    justify-content: center;
    padding: 20px;
    color:white;
}
.btns{
    margin-left:600px;
    }

    /**footer**/
footer{
    background-color: black;
    height: 300px;
    color:white;
    display: flex;
    gap:60px;
    line-height: 30px;
    
    }
aside{
    margin-left: 90px;
    padding:30px;
}
.icons{
    display: flex;
    gap:30px;
    padding:30px;
}
li{
    list-style-type: none;
}

input{
 width:500px;
 height: 40px;
 font-size: 20px;
}
